{% extends 'internship/basic.html' %}
{% block title%} Login Page {% endblock%}
{% block body%}
<div class="container mt-4">


    <h1  >Login Yourself.</h1>
    <form action="/login/loginPage/" method="post" name="login" >{% csrf_token %}

        <div class="form-group">
            <label for="email"><h3>Email</h3></label>
            <input type="email" required class="form-control" name="email" id="email" placeholder="abc@mail.com">
        </div>
        <div class="form-group">
            <label for="password"><h3>Password</h3></label>
            <input type="password" required class="form-control" name="password" id="password" placeholder="Enter your password">
        </div>
        <button  type="submit" id="login_button"  class="btn btn-success" >Login</button>

        <a href="/login/changePassword/"> <button type="button" class="btn btn-success" >change password</button></a>

    </form>
</div>

{% endblock%}
{% block js%}
<!--<script>
    $('.submitBtn').on('click', function(e){
    e.preventDefault();
    email = $('#email').val();
    password = $('#password').val();
    console.log(email);
    console.log(password);



});

</script>-->
{% endblock%}